body {
  background-color: lavender;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
  color: rgb(113, 113, 212);
  display: inline-block;
}

h2 {
  color: rgb(73, 73, 208);
  display: inline-block;
}

.photo {
  border-radius: 40px;
  padding: 20px;
  height: 400px;
}

.header {
    font-size: 30px;
    color: #FFFFFF;
    position: fixed;
    height: 100px;
    width: 100%;
    display: inline;
    text-align: center;
   }